<!-- <div class="container sm">
    <form name="pcrForm" #testFormGroup="ngForm">
        <div class="form-group">
            <label for="PersonName">Person-Name:</label>
            <input type="text" class="form-control" [(ngModel)]="personname" name="personname"
                placeholder="Enter personname">
        </div>
        <div class="form-group">
            <label for="aadhar-no">Aadhar-No:</label>
            <input type="text" class="form-control" [(ngModel)]="aadharno" name="aadharno"
                placeholder="Enter Aadhar number">

        </div>
        <div class="form-group">
            <label for="dob">Date-of-Birth:</label>
            <input type="date" [(ngModel)]="dob" name="dob" class="form-control">

        </div>
        <div class="form-group">
            <label for="city">City Name:</label><br>
            <input type="text" [(ngModel)]="selectcity" name="cityname" placeholder="Enter City Name"
                class="form-control">
            </div>
        <div class="form-group">
            <label for="dateoftime">Date-of-test</label><br>
            <input type="date" id="dateoftest" [(ngModel)]="dateoftest" name="dateoftest" class="form-control"
                name="dateoftest">
        </div>
        <div class="form-group">
            <label for="timeoftest">Time-of-test:</label><br>
            <input type="time" id="time" min="09:00" max="18:00" [(ngModel)]="timeoftest" class="form-control"
                name="currenttime">

        </div>
        <div class="form-group">
            <label class="form-check-label" for="Result">Result:</label><br>
            <input type="radio" name="result" id="positive" [(ngModel)]="result" class="form-check-input"
                value="positive">Positive
            <input type="radio" name="result" id="negative" [(ngModel)]="result" class="form-check-input"
                value="negative">Negative
        </div>
        <div class="form-group">
            <label for="Labname">Lab-name:</label>
            <input type="text" class="form-control" [(ngModel)]="labname" name="labname"
                placeholder="Enter The Lab name">

        </div>
        <div class="form-group">
            <label for="ReportNo">Report-No:</label>
            <input type="text" class="form-control" [(ngModel)]="reportno" name="reportno"
                placeholder="Enter report number">

        </div>
        <div class="form-group">
            <label class="form-check-label" for="Result">Gender:</label><br>
            <input type="radio" name="gender" id="gender1" [(ngModel)]="gender" class="form-check-input" value="Male">Male
            <input type="radio" name="gender" id="gender2" [(ngModel)]="gender" class="form-check-input"
                value="Female">Female
            <input type="radio" name="gender" id="gender2" [(ngModel)]="gender" class="form-check-input"
                value="Others">Others

        </div>
        <div class="form-group">
            <button type="button" (click)="search();" class="btn btn-primary space">AddData</button>
            <button type="button" class="btn btn-danger space">ResetForm</button>
        </div>
    </form>
    <div class="form-group">
        <table id="table">
            <tr>
                <th>Name</th>
                <th>Aadhar No</th>
                <th>DOB</th>
                <th>City</th>
                <th>Date of Test</th>
                <th>Time of Test</th>
                <th>Result</th>
                <th>Lab-name</th>
                <th>Report-No</th>
                <th>Gender</th>
            </tr>

        </table>
    </div>


    <div class="search">
        <input type="text" id="find" (keyup)="removefield()" placeholder="Enter aadhar number to search">
        <input type="submit" (click)="search()" id="submit">
        <div id="msg"></div>
      </div>
     <table id="result-table">
        <tr>
            <th>Name</th>
            <th>Aadhar No</th>
            <th>DOB</th>
            <th>City</th>
            <th>Date of Test</th>
            <th>Time of Test</th>
            <th>Result</th>
            <th>Lab-name</th>
            <th>Report-No</th>
            <th>Gender</th>
        </tr>


 -->
