:root {
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
}

.content-card {
  display: flex;
  flex-direction: row;
  left: 50%;
  max-width: 900px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-card .aside {
  padding: 1em;
}

.content-card img {
  border-radius: 0px;
  width: 40%;
}

.content-card .content-footer.on {
  background-color: transparent;
  position: relative;
}

.content-card .content-footer .content-profile img {
  width: 20%;
}

.content-card .content-footer.on .content-btn {
  width: 65%;
}

.content-card .content-footer .content-btn .btn {
  cursor: pointer;
}

.content-card .content-footer.on .content-profile {
  display: flex;
}

.content-card .content-footer.on .content-socials {
  align-items: center;
  background-color: var(--very-dark-grayish-blue);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(67, 55, 55);
  justify-content: center;
  position: absolute;
  padding: 0.5em;
  right: -19%;
  top: -70%;
}

.content-card .content-footer.on .content-socials::after {
  border-top: solid 25px var(--very-dark-grayish-blue);
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;
  content: "";
  height: 0;
  left: 40%;
  position: absolute;
  top: 80%;
  width: 0;
  z-index: 3;
  z-index: -1;
}
